{
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "impliedStrict": true
    }
  },
  "globals": {
    "expect": true
  },
  "rules": {
    "security/detect-object-injection": 0,
    "security/detect-non-literal-regexp": 0,
    "no-unused-expressions": 0,
    "func-style": 0
  },
  "extends": [
    "emarsys"
  ]
}
